$dark-blue: #0D1215;
$orange: #FBB88C;

:root {
	// --container-width: 1200px;
	// --container-padding: 15px;

	--page-bg: #fff;
	--text-color: $orange;
	--accent: #ac182c;

    --laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;

	--padding: 75px;

	@media (max-width: 1250px) {
		--padding: 56px;
	}
}

// .dark {
//     --page-bg: #252526;
//     --text-color: #fff;
// }